In [1]:
#experiment  no. :5

In [ ]:
#Aim:To perform and analysis of T Test parametric Test

In [ ]:
#Name:Tejaswini Gajanan Khade
#RollNo.:61
#sec.:3A
#subject:ET 2

# T Test :
#A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

In [3]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [4]:
len(ages)

32

In [5]:
import numpy as np
ages_mean=np.mean(ages)
print(ages_mean)

30.34375

In [6]:
## Lets take sample
sample_size=10
age_sample=np.random.choice(ages,sample_size)

In [7]:
age_sample

array([43, 16, 17, 21, 20, 21, 25, 55, 26, 26])

In [8]:
from scipy.stats import ttest_1samp

In [9]:
ttest,p_value=ttest_1samp(age_sample,30)

In [10]:
print(p_value)

0.4644701501193007

In [12]:
if p_value < 0.05: # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis